<div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">



    <div class="row">

        <div class="col-sm-4"></div>

        <div class="col-sm-4 text-center">
                    <form>


                        <button class="btn btn-success"
                                ng-click="list.activateQuiz()">
                            <strong>Démarrer le test</strong>
                        </button>
                    </form>
        </div>
    </div>
</div>

<div ng-controller="QuizController as quiz" ng-show="quiz.quizMetrics.quizActive">
    <div class="row">
        <div class="col-xs-8">
            <h2>Avancement:</h2>
            <div class="btn-toolbar">

                <button class="btn"
                        ng-repeat="question in quiz.dataService.quizQuestions"
                        ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
                        ng-click="quiz.setActiveQuestion($index)">
                    <!-- display glyphicons -->
                    <!-- ng-class to style glypicons -->
                            <span class="glyphicon"
                                  ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null}"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <h4>Légende:</h4>
                <div class="col-sm-4">
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <p>Résolue</p>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                    <p>En cours</p>
                </div>
            </div>
        </div>
    </div><!-- progress area -->

    <div class="row">
        <div class="alert alert-danger"
             ng-show="quiz.error">
            Vous n'avez pas répondu à toutes les questions !
            <button class="close" ng-click="quiz.error = false">&times</button>
        </div>
        <h3>Question:</h3>
        <div class="well well-sm" ng-hide="quiz.finalise">
            <div class="row">
                <div class="col-xs-12">

                    <h4>{{quiz.activeQuestion+1 + ". " + quiz.dataService.quizQuestions[quiz.activeQuestion].text}}</h4>

                    <div class="row"
                         ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                        <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                            <h4 class="answer"
                                ng-class="{'bg-info': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
                                ng-click="quiz.selectAnswer($index)">
                                {{answer.answer}}
                            </h4>
                        </div>
                    </div>

                    <div class="row"
                         ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'image'">
                        <!-- more bootstrap and another ng-repeat, this time looping through the possible answers -->
                        <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                            <div class="image-answer"
                                 ng-class="{'image-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
                                 ng-click="quiz.selectAnswer($index)">
                                <img ng-src="{{answer.answer}}">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ng-click will call the questionAnswered method on the controller -->
            <button class="btn btn-warning" ng-click="quiz.questionAnswered()">Continue</button>
        </div>


        <div class="well well-sm" ng-show="quiz.finalise">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Voulez vous soumettre vos réponses ?</h3>
                    <button class="btn btn-success" ng-click="quiz.finaliseAnswers()">Oui</button>
                    <button class="btn btn-danger" ng-click="quiz.finalise = false">Non</button>
                </div>
            </div>
        </div>


    </div><!-- question row -->
</div><!-- quiz controller -->


<div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
    <div class="row">
        <div class="col-xs-8">
            <h2>Résultat:</h2>
            <div class="btn-toolbar">

                <button class="btn"
                        ng-repeat="question in results.dataService.quizQuestions"
                        ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}"
                        ng-click="results.setActiveQuestion($index)">
                    <!-- display glyphicons -->
                    <!-- ng-class is utilsed again to style the glyphicons conditionally -->
                            <span class="glyphicon"
                                  ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <h4>Légende:</h4>
                <div class="col-sm-4">
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <p>Correcte</p>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <p>Incorrecte</p>
                </div>
            </div>
        </div>
    </div><!-- row -->

    <!-- display the score and percentage to the user -->
    <div class="row">
        <div class="col-xs-12 top-buffer">

            <h2>Votre score {{results.quizMetrics.numCorrect}} / {{results.dataService.quizQuestions.length}}</h2>

            <h2><strong>{{results.calculatePerc() | number:2}}%</strong></h2>
        </div>
    </div>

    <div class="row">
        <h3>Questions:</h3>
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-12">

                    <h4>{{results.activeQuestion+1 +". "+results.dataService.quizQuestions[results.activeQuestion].text}}</h4>
                    <div class="row"
                         ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'text'">

                        <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                            <h4 class="answer"
                                ng-class="results.getAnswerClass($index)">
                                {{answer.answer}}

                                <p class="pull-right"
                                   ng-show="$index !== results.quizMetrics.correctAnswers[results.activeQuestion] && $index === results.dataService.quizQuestions[results.activeQuestion].selected">Votre réponse</p>
                                <p class="pull-right"
                                   ng-show="$index === results.quizMetrics.correctAnswers[results.activeQuestion]">Bonne réponse</p>
                            </h4>
                        </div>
                    </div><!-- row -->


                    <div class="row"
                         ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'image'">

                        <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">

                            <div class="image-answer"
                                 ng-class="results.getAnswerClass($index)">
                                <img ng-src="{{answer.answer}}">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div><!-- well -->
        <!-- ng-click calling the reset method on the controller -->
        <button class="btn btn-primary btn-lg" ng-click="results.reset()">Continuer votre evaluation</button>
    </div>
</div>
